doctype html
html(lang="ja")
  - var headerTitle = "不思議のダンジョン 値段識別表"
  head
    meta(charset="UTF-8")
    title= headerTitle
    meta(name="viewport" content="width=device-width, initialize-scale=1")
    link(rel="stylesheet", href="/css/bundle.css")
    script(src="/js/bundle.js", charset="UTF-8")

  body
    - var headerName = "不思議のダンジョン"
    div(data-role="page" data-title=headerTitle)
      div(data-role="header" data-position="fixed")
        h1= headerName
      div(data-role="content")
        ul(data-role="listview")
          li(class="item")
            a(href="/shiren4/" data-ajax="false") 風来のシレン4 神の眼と悪魔のヘソ
      div(data-role="footer" data-position="fixed")
        h1= headerName
