div(data-role="header")
  h1 About
div(data-role="content")
  p
    | このサイトは
    a(href="http://www.spike-chunsoft.co.jp/") スパイク・チュンソフト
    | 様が発売した
    a(href="https://www.nintendo.co.jp/wii/vc/vc_sr/") 不思議のダンジョン2 風来のシレン
    | にて識別済みアイテムを記録するためのチェックリストです。
  p
    | スマートフォンでの使用を想定しており、チェックした情報はCookieに保存されます。
    | 新しくプレイし直す時は「Clear」から情報をリセットして下さい。
  p
    | このサイトでは未識別で登場しうる全てのアイテムをリストアップしています。「もっと不思議のダンジョン」のプレイにお役立て頂ければと思います。
  p
    | 参考にさせていただいたサイト:
    a(href="http://twist.jpn.org/sfcsiren/") SFCシレンwiki
  p
    a(href="/") トップに戻る

