div(data-role="header")
  h1 About
div(data-role="content")
  p
    | このサイトは
    a(href="http://www.spike-chunsoft.co.jp/") スパイク・チュンソフト
    | 様が発売した
    a(href="http://www.spike-chunsoft.co.jp/games/shiren2/") 風来のシレン2 ～鬼襲来!シレン城!～
    | にて識別済みアイテムを記録するためのチェックリストです。
  p
    | スマートフォンでの使用を想定しており、チェックした情報はCookieに保存されます。
    | 新しくプレイし直す時は「Clear」から情報をリセットして下さい。
  p
    | このサイトでは未識別で登場しうる全てのアイテムをリストアップしています。「もっと不思議のダンジョン」のプレイにお役立て頂ければと思います。
  p
    | 参考にさせていただいたサイト:
    a(href="http://shiren2.lsx3.net/") 風来のシレン2 鬼襲来！シレン城！ 攻略Wiki
  p
    a(href="/") トップに戻る

